<% provide(:title, "Blog") %>
<h1 class="page-header">
  Dennis Tusk
  <small>Full Stack Web Developer</small>
</h1>
<% @entries.each do |entry| %>
  <h2>
    <%= link_to entry.title, entry %>
  </h2>
  <p>
    <span class="glyphicon glyphicon-time"></span>
    Posted on <%= entry.created_at.strftime("%B %e, %Y at %R") %>
  </p>
  <hr/>
  <p>
    <%= truncate(entry.content.html_safe) %>
  </p>
  <%= link_to entry, class: 'btn btn-primary' do %>
    Read More
    <span class="glyphicon glyphicon-chevron-right"></span>
  <% end %>
  <hr/>
<% end %>
<!--
  Pager
-->
<ul class="pager">
  <li class="previous">
    <%= link_to_previous_page @entries, '&larr; Newer'.html_safe, remote: true %>
  </li>
  <li class="next">
    <%= link_to_next_page @entries, 'Older &rarr;'.html_safe, remote: true %>
  </li>
</ul>

