<% provide(:title, "Sign in") %>
<%= form_for :author, url: sessions_path do |f| %>
  <div class="body bg-gray">
    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', placeholder: "email" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
    </div>
  </div>
  <div class="footer">
    <div class="form-group">
      <%= f.submit 'Sign in', class: 'btn bg-olive btn-block' %>
    </div>
  </div>
<% end %>

