<%= form_for(@entry) do |f| %>
  <%= render 'shared/errors_messages', object: f.object %>
  <div class="box-body">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :tag %>
      <%= f.text_field :tag, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control wysihtml5' %>
    </div>
    <div class="form-group">
      <%= f.label :categories %>
      <%= f.select :category_ids, Category.all.collect{ |x| [x.name, x.id]},{}, {multiple: true, class: 'form-control'} %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box :published %>
        Published
      </label>
    </div>
  </div>
  <div class="box-footer">
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

