<% provide(:title, "Entries") %>
<section class="content-header">
  <h1>
    Entries
    <small>Overview</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to auth_path do %>
        <i class="fa fa-dashboard"></i>
        Home
      <% end %>
    </li>
    <li class="active">Entries</li>
  </ol>
</section>
<section class="content">
  <%= render 'shared/flash_messages' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Overview</h3>
          <div class="box-tools">
            <%= link_to 'New', new_entry_path, class: 'btn btn-default pull-right' %>
          </div>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Title</th>
              <th>Content</th>
              <th>Categories</th>
              <th>Published</th>
              <th>Date created</th>
              <th>Clicks</th>
              <th>Visits - Facebook</th>
              <th>Visits - Twitter</th>
              <th>Options</th>
            </tr>
            <% @entries.each do |entry| %>
              <tr>
                <td><%= entry.title %></td>
                <td><%= truncate(entry.content) %></td>
                <td>
                  <ul>
                    <% entry.categories.each do |category| %>
                      <li><%= category.name %></li>
                    <% end %>
                  </ul>
                <td><%= entry.published %></td>
                <td><%= entry.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= entry.clicks %></td>
                <td><%= entry.facebook %></td>
                <td><%= entry.twitter %></td>
                <td><%= link_to 'Show', entry, target: '_blank' %> | <%= link_to 'Edit', edit_entry_path(entry) %> | <%= link_to 'Delete', entry, method: :delete %></td>
              <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

