<% provide(:title, "New - Entries") %>
<section class="content-header">
  <h1>
    Entries
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li>
      <%= link_to 'Entries', entries_path %>
    </li>
    <li class="active">New</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">New entry</h3>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>

