<% provide(:title, @entry.title) %>
<% provide(:description, truncate(@entry.content)) %>
<% provide(:keywords, @entry.tag) %>
<h2>
  <%= @entry.title %>
</h2>
<hr/>
<p>
  <span class="glyphicon glyphicon-time"></span>
  Posted on <%= @entry.created_at.strftime("%B %e, %Y at %R") %>
</p>
<hr/>
<p>
  <%= @entry.content.html_safe %>
</p>
<hr/>
<div id="disqus_thread"></div>
<noscript>
  Please enable JavaScript to view the\
  <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a class="dsq-brlink" href="http://disqus.com">comments powered by Disqus</a>

