<% @entries.each do |entry| %>
  <h2>
    <%= link_to entry.title, entry %>
  </h2>
  <span class="glyphicon glyphicon-time"></span>
  Posted on <%= entry.created_at.strftime("%B %e, %Y at %R") %>
  <hr/>
<% end %>

