<% if object.errors.any? %>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-3">
      <div class="box box-solid box-danger">
        <div class="box-header">
          <h3 class="box-title">Errors</h3>
        </div>
        <div class="box-body">
          The form contains <%= pluralize(object.errors.count, "error") %>
          <ul>
            <% object.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

