<% if flash.any? %>
  <div class="row">
    <div class="col-xs-12">
      <% flash.each do |k,v| %>
        <div class="alert-<%= k %> alert alert-dismissable">
          <%= v %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

