<<<<<<< HEAD:app/views/errors/404.html.haml
- provide(:title, "404 Error")
%h2 404 Error - Not Found
%hr/
%p
=======
<% provide(:title, "404 Error") %>
<h2>404 Error - Not Found</h2>
<hr/>
<p>
>>>>>>> 257cc90b2e2f0d582431e5d0f50f18589f06f6b0:app/views/errors/404.html.erb
  The page you were looking for doesn't exist.
  You may have mistyped the address or the page may have moved.
</p>
