<% provide(:title, 'Search results') %>
<h2>Search result</h2>
<hr/>
<% unless @entries.empty? %>
  <%= render 'shared/entries' %>
  <ul class="pager">
    <li class="previous">
      <%= link_to_previous_page @entries, '&larr; Previous'.html_safe, {params: params} %>
    </li>
    <li class="next">
      <%= link_to_next_page @entries, 'Next &rarr;'.html_safe, {params: params} %>
    </li>
  </ul>
<% else %>
  No entries found for query: <%= params[:query] %>
<% end %>

