= form_for @medium, html: {multipart: true} do |f|
  = render 'shared/errors_messages', object: f.object
  .box-body
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label :description
      = f.text_area :description, class: 'form-control wysihtml5'
    .form-group
      = f.label :image
      = f.file_field :image
  .box-footer
    .form-group
      = f.submit class: 'btn btn-primary'
