- provide(:title, "Edit - Media")
%section.content-header
  %h1
    Edit media
    %small Overview
  %ol.breadcrumb
    %li
      = link_to auth_path do
        %i.fa.fa-dashboard
        Home
<<<<<<< HEAD
    %li= link_to 'Media', media_path
>>>>>>> 520f7c2
    %li.active Edit
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-header
          %h3.box-title Edit media
        = render 'form'
