- provide(:title, "Media")
%section.content-header
  %h1
    Media
    %small Overview
  %ol.breadcrumb
    %li
      = link_to auth_path do
        %i.fa.fa-dashboard
        Home
    %li.active Media
<<<<<<< HEAD
/ Main content
>>>>>>> 520f7c2
%section.content
  = render 'shared/flash_messages'
  .row
    .col-xs-12
      .box
        .box-header
          %h3.box-title Overview
          .box-tools
            = link_to 'New', new_medium_path, class: 'btn btn-default pull-right'
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %tr
              %th Title
              %th Description
              %th Image
              %th Options
            - @media.each do |medium|
              %tr
                %td= medium.title
                %td= truncate(medium.description)
                %td= image_tag medium.image.url(:thumb)
                %td
<<<<<<< HEAD
                  #{link_to 'Edit', edit_medium_path(medium)} | #{link_to 'Delete', medium, method: :delete}
>>>>>>> 520f7c2
