- provide(:title, "New - Media")
%section.content-header
  %h1
    New media
    %small Overview
  %ol.breadcrumb
    %li
      = link_to auth_path do
        %i.fa.fa-dashboard
        Home
    %li
      = link_to 'Media', media_path
    %li.active New
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-header
          %h3.box-title New media
        = render 'form'
