<%= form_for @category do |f| %>
  <%= render 'shared/errors_messages', object: f.object %>
  <div class="box-body">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="box-footer">
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

