<%- provide(:title, "Edit - Categories") %>
<section class="content-header">
  <h1>
    Edit category
    <small>Overview</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to auth_path do %>
        <i class="fa fa-dashboard"></i>
        Home
      <% end %>
    </li>
    <li>
      <%= link_to 'Categories', categories_path %>
    </li>
    <li class="active">Edit</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'form' %>
    </div>
  </div>
</section>

