<% provide(:title, "Categories") %>
<section class="content-header">
  <h1>
    Categories
    <small>Overview</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to auth_path do %>
        <i class="fa fa-dashboard"></i>Home
      <% end %>
    </li>
    <li class="active">Categories</li>
  </ol>
</section>
<section class="content">
  <%= render 'shared/flash_messages' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"> Overview</h3>
          <div class="box-tools">
            <%= link_to 'New', new_category_path, class: 'btn btn-default pull-right' %>
          </div>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Options</th>
            </tr>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= category.name %></td>
                  <td><%= truncate(category.description) %></td>
                  <td><%= link_to 'Show', category, target: "_blank" %> | 
                    <%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Delete', category, method: :delete %>
                  </td>
                </tr>
              <% end %>
              </table>
            </div>
          </div>
        </div>
</section>
