<% provide(:title, "#{@category.name} - Category") %>
<% provide(:keywords, "#{@category.name} - Category") %>
<% provide(:description, "#{@category.description} - Category") %>
<h2>Category: <%= @category.name %></h2>
<hr/>
<% unless @entries.empty? %>
  <%= render 'shared/entries' %>
<% else %>
  No entries available
<% end %>
<!-- Pager
-->
<ul class="pager">
  <li class="previous">
    <%= link_to_next_page @entries, '&larr; Newer'.html_safe %>
  </li>
  <li class="next">
    <%= link_to_previous_page @entries, 'Older &rarr;'.html_safe %>
  </li>
</ul>

