<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="<%= yield :description %>" name="description"/>
    <meta content="<%= yield :keywords %>" name="keywords"/>
    <meta content="Dennis Tusk" name="author"/>
    <title><%= yield :title %> - Dennis Tusk</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag    'application/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    -->
  </head>
  <body>
    <%= render 'shared/nav' %>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h4>Blog Search</h4>
            <%= form_tag :search, url: search_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :query, nil, class: 'form-control' %>
                <span class="input-group-btn">
                  <%= button_tag nil, name: nil, class: 'btn btn-default' do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="well">
          <% unless @categories.empty? %>
            <h4>Blog Categories</h4>
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <% @categories.each do |category| %>
                    <li>
                      <%= link_to category.name, category, data: {toggle: "tooltip", placement: 'right'}, title: category.description %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <hr/>
      <!-- Footer
      -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Dennis Tusk 2014</p>
          </div>
          <!-- /.col-lg-12
          -->
        </div>
        <!-- /.row
        -->
      </footer>
    </div>
    <!-- /.container
    -->
    <%= javascript_include_tag 'application/application', 'data-turbolinks-track' => true %>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>

