<!doctype html>
<html class="bg-black">
  <head>
    <meta charset="UTF-8"/>
    <title><%= yield :title %></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <%= stylesheet_link_tag 'auth/auth' %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    -->
  </head>
  <body class="bg-black">
    <div class="form-box" id="login-box">
      <div class="header">Sign In</div>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'auth/auth', "data-turbolinks-track" => true %>
  </body>
</html>

